# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tgz
*.tar.gz

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
__MACOSX/

# Env
.env
.env.local
.env.*.local
